@model IEnumerable<Product>
@foreach (Product product in Model )
{
<li>
    <a class="d-flex justify-content-between align-items-center ">
        <img width="100px" src="~/assets//images/product/@(product.MainImage)" />
        <p> @product.Title</p>
        <span class="regular-price">$@(product.DiscountPrice>0 ? product.DiscountPrice : product.Price)</span>
    </a>
</li>
    
}